body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

.accordion-title {
  min-width: 760px;
  max-width: 1040px;
  display: block;
  border-bottom: 1px solid rgba(225, 225, 225);
}

.acc-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 760px;
  height: 30px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(225, 225, 225);
  cursor: pointer;
}

.acc-radio {
  position: absolute;
  left: 68%;
}

input[type="radio"] {
  display: none;
}

.label-placeholder + input[type="radio"]:checked {
  display: none;
}

input[type="radio"]:checked + .che-wrapper {
  height: 500px;
  transition: all 0.3s;
}

.che-wrapper {
  width: 760px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 700px;
  height: 410px;
}

.img-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 770px) {
  .label-placeholder {
    display: none;
    transition: all 0.3s;
  }

  .wrapper:hover .label-placeholder {
    display: block;
    transition: all 0.3s;
  }

  .acc-radio:hover + .che-wrapper {
    height: 500px;
    transition: all 0.3s;
  }
}
