* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

figure {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 0 auto;
  padding: 0 0.3rem;
}

.title {
  font-size: 3rem;
  margin: 0;
  padding: 1.6rem 0;
  text-align: center;
  border-bottom: 0.1rem solid rgba(225, 225, 225);
}

.acc-wrapper {
  margin: 0 auto;
  max-width: 95vw;
}

.acc__label {
  display: inline-block;
  margin: 0;
  padding: 1.3rem 0;
  min-width: 89%;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 0.1rem solid rgba(225, 225, 225);
}

.acc-item {
  min-height: 4.4rem;
  max-height: 3rem;
  margin-top: -4.4rem;
  overflow: hidden;
  transition: all 1s;
}

figcaption {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.img-content {
  display: block;
  max-width: 30rem;
  height: 100%;
  margin: 0 auto;
}

input[type="radio"]:checked + .acc-item {
  min-height: 30rem;
  transition: all 1s;
}

@media (min-width: 820px) {
  .acc-wrapper {
    min-width: 50%;
    max-width: 95%;
  }

  input[type="radio"]:checked + .acc-item {
    min-height: 52rem;
    transition: all 1s;
  }

  .title {
    font-size: 2.2rem;
  }

  .acc__label {
    min-width: 96%;
    font-size: 2rem;
  }

  figcaption {
    font-size: 1.8rem;
  }

  .img-content {
    max-width: 78rem;
  }
}

@media (min-width: 1920px) {
  .acc-wrapper {
    margin: 0 auto;
    min-width: 50%;
    max-width: 104rem;
  }

  .title {
    font-size: 2rem;
  }

  .acc__label {
    min-width: 97%;
    font-size: 1.8rem;
    cursor: pointer;
  }

  figcaption {
    font-size: 1.6rem;
  }

  .acc__label:hover ~ .acc-item {
    min-height: 50rem;
    transition: all 1s;
  }

  .acc-item:hover {
    min-height: 50rem;
    transition: all 1s;
  }

  .img-content {
    max-width: 70rem;
    height: 100%;
  }

  input[type="radio"]:checked + .acc-item {
    min-height: 50rem;
    transition: all 1s;
  }
}
