html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title {
  font-size: 2rem;
  margin: 0;
  padding: 1.6rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(225, 225, 225);
}

.acc-wrapper {
  margin: 0 auto;
  min-width: 50%;
  max-width: 104rem;
}

.acc__label {
  display: inline-block;
  font-size: 1.8rem;
  margin: 0;
  padding: 1.3rem 0;
  min-width: 90%;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  z-index: 1;
}

.acc-item {
  min-height: 4.4rem;
  max-height: 3rem;
  margin-top: -4.4rem;
  overflow: hidden;
  background-color: red;
  transition: all 1s;
}

figcaption {
  padding-top: 4.4rem;
}

.img-content {
  width: 70rem;
  height: 100%;
  padding: 1rem 0;
}

input[type="radio"]:checked + .acc-item {
  min-height: 50rem;
  transition: all 1s;
}

@media (min-width: 1920px) {
  .acc__label {
    min-width: 97%;
  }

  .acc__label:hover ~ .acc-item {
    min-height: 50rem;
    transition: all 1s;
  }

  .acc-item:hover {
    min-height: 50rem;
    transition: all 1s;
  }
}
